---
import Releases from "../../public/releases.json";
const arrayDeArrays = Object.entries(Releases).map(([key, value]) => {
  return [key, value];
});

const allReleases: any = arrayDeArrays.map((release: any) => {
  const version = release[0];
  const information = release[1];
  const informationCleaned = {
    documentation: information.docs,
    notes: information.notes ?? "",
    stdDocs: information.stdDocs ?? "",
    source: {
      sourceBootstrap: information.bootstrap ?? "",
      src: information.src ?? "",
    },
    windows: {
      aarch64: information["aarch64-windows"] ?? "",
      x86_64: information["x86_64-windows"] ?? "",
      i386: information["i386-windows"] ?? "",
    },
    macos: {
      aarch64: information["aarch64-macos"] ?? "",
      x86_64: information["x86_64-macos"] ?? "",
    },
    linux: {
      aarch64: information["aarch64-linux"] ?? "",
      armv7a: information["armv7a-linux"] ?? "",
      i386: information["i386-linux"] ?? "",
      riscv64: information["riscv64-linux"] ?? "",
      x86_64: information["x86_64-linux"] ?? "",
      powerpc64le: information["powerpc64le-linux"] ?? "",
    },
    freebsd: {
      x86_64: information["x86_64-freebsd"] ?? "",
    },
  };
  return {
    version,
    information: informationCleaned,
  };
});
import TabItemDownloadInfo from "@components/TabItemDownloadInfo.astro";
import { Tabs, TabItem } from "@astrojs/starlight/components";
---

{
  allReleases.map(
    ({
      version,
      information: {
        documentation,
        stdDocs,
        notes,
        source,
        windows,
        linux,
        macos,
        freebsd,
      },
    }: any) => {
      return (
        <>
          <h2>{version === "master" ? "Master" : version}</h2>
          <p>
            <strong>Documentation:</strong> {documentation}
          </p>
          {stdDocs && (
            <p>
              <strong>Standard Library Documentation:</strong> {stdDocs}
            </p>
          )}
          {notes && (
            <p>
              <strong>Release Notes:</strong> {notes}
            </p>
          )}
          <Tabs syncKey="os">
            <TabItem label="Source" icon="seti:zig">
              <Tabs>
                <TabItemDownloadInfo
                  os="source"
                  arch="Only Source"
                  downloadInfo={source.src}
                />
                <TabItemDownloadInfo
                  os="source"
                  arch="Source with Bootstrapp"
                  downloadInfo={source.sourceBootstrap}
                />
              </Tabs>
            </TabItem>
            <TabItem label="Windows" icon="laptop">
              <Tabs>
                <TabItemDownloadInfo
                  os="windows"
                  arch="x86_64"
                  downloadInfo={windows.x86_64}
                />
                <TabItemDownloadInfo
                  os="windows"
                  arch="aarch64"
                  downloadInfo={windows.aarch64}
                />
                <TabItemDownloadInfo
                  os="windows"
                  arch="i386"
                  downloadInfo={windows.i386}
                />
              </Tabs>
            </TabItem>
            {(linux.x86_64 ||
              linux.aarch64 ||
              linux.armv7a ||
              linux.i386 ||
              linux.riscv64 ||
              linux.powerpc64le) && (
              <TabItem label={"Linux"} icon="linux">
                <Tabs>
                  <TabItemDownloadInfo
                    os="linux"
                    arch="x86_64"
                    downloadInfo={linux.x86_64}
                  />
                  <TabItemDownloadInfo
                    os="linux"
                    arch="aarch64"
                    downloadInfo={linux.aarch64}
                  />
                  <TabItemDownloadInfo
                    os="linux"
                    arch="armv7a"
                    downloadInfo={linux.armv7a}
                  />
                  <TabItemDownloadInfo
                    os="linux"
                    arch="i386"
                    downloadInfo={linux.i386}
                  />
                  <TabItemDownloadInfo
                    os="linux"
                    arch="riscv64"
                    downloadInfo={linux.riscv64}
                  />
                  <TabItemDownloadInfo
                    os="linux"
                    arch="powerpc64le"
                    downloadInfo={linux.powerpc64le}
                  />
                </Tabs>
              </TabItem>
            )}

            {(macos.aarch64 || macos["x86_64"]) && (
              <TabItem label="MacOS" icon="apple">
                <Tabs>
                  <TabItemDownloadInfo
                    os="macos"
                    arch="x86_64"
                    downloadInfo={macos["x86_64"]}
                  />
                  <TabItemDownloadInfo
                    os="macos"
                    arch="aarch64"
                    downloadInfo={macos.aarch64}
                  />
                </Tabs>
              </TabItem>
            )}
            {freebsd.x86_64 && (
              <TabItem label="FreeBSD" icon="apple">
                <TabItemDownloadInfo
                  os="FreeBSD"
                  arch="x86_64"
                  downloadInfo={freebsd.x86_64}
                />
              </TabItem>
            )}
          </Tabs>
        </>
      );
    },
  )
}
